<footer class="contentinfo container" role="contentinfo">
  <div class="bg-wrapper"></div>
  <div class="mod" style='width: 155px'>
    <h3 class="milli">davemiramant.com</h3>
    <ul>
      <li>
        <a href="/about" title="About Dave">About Dave</a>
      </li>
      <li>
        <a href="/issues" title="Issues">Issues</a>
      </li>
      <li>
        <a href="http://daveformaine.tumblr.com/" title="Blog">Blog</a>
      </li>
      <li>
        <a href="https://www5.informe.org/cgi-bin/online/ethics/cleanelection/step01_cand.pl" title="Donate">Donate</a>
      </li>
    </ul>
  </div>
  <div class="mod" style='width: 120px'>
    <h3 class="milli">Connect</h3>
    <ul>
      <li>
        <a href="/facebook" target="_blank" title="Facebook">Facebook</a>
      </li>
      <li>
        <a href="/twitter" target="_blank" title="Twitter">Twitter</a>
      </li>
    </ul>
  </div>
  <div class="mod">
    <h3 class="milli">Contact</h3>
    <ul>
      <li>
        Phone: <a href="tel:+2072364845">236.4845</a>
      </li>
      <li>
        Email: <a href="mailto:davemiramant@gmail.com">davemiramant@gmail.com</a>
      </li>
    </ul>
  </div>
  <div class="legal">
    <p class="ownership">Copyright © 2014 by Dave Miramant</p>
  </div>
</footer>