%body#home.home
  #wrapper
    %header#banner{role: "banner"}
      .container
        %h1#branding
          %a{href: "/", title: "Home | Dave Miramant For Senate"} Dave Miramant For Senate
        .cta
          %p
            Knox County Voters: Please Help Me By Supporting the Clean Election Fund
          %form#subscribe.inline
            %a{href: 'https://www5.informe.org/cgi-bin/online/ethics/cleanelection/step01_cand.pl'}
              .donate-btn
                .donate Donate $5
          .social
            %h2 Keep in touch
            .facebook
              #fb-root
              :javascript
                //<![CDATA[
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                //]]>
              .fb-like{"data-font" => "tahoma", "data-href" => "https://www.facebook.com/DaveForMaine", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "100"}
            .twitter
              %a.twitter-follow-button{"data-show-count" => "false", "data-show-screen-name" => "false", href: "https://twitter.com/DaveForMaine"} Follow @DaveForMaine
              

              :javascript
                //<![CDATA[
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                //]]>
          / end .social
        %nav.nav-primary.new{role: "navigation"}
          %h2 Menu
          %ul
            %li#home
              %a{href: "/", title: "Home"} Home
            %li#about
              %a{href: "/about", title: "About Dave"} About Dave
            %li#issues
              %a{href: "/issues", title: "Issues"} Issues
            %li#blog
              %a{href: "http://daveformaine.tumblr.com/", traget: '_blank', id: "blog-modal"} Blog
            %li#volenteer
              %a{href: "/volenteer", title: "Get Involved"} Get Involved
        / end .nav-primary
    / end #banner