<body class="home" id="home">
  <div id="wrapper">
    <header id="banner" role="banner">
      <div class="container">
        <h1 id="branding">
          <a href="/" title="Home | Dave Miramant For Senate">
            <%= image_tag("logo-dark.png") %>
          </a>
        </h1>
        <div class="cta">
          <p>
            
          </p>
          <form class="inline" id="subscribe">
            <input type="text" placeholder="First Name" >
            <input type="email" placeholder="Email" >
            <input type="submit" placeholder="Sumbit" >
          </form>
          <h4 id='form-signup'>Signup for<br/>Campign Updates</h4>
          <div class="social">
            <h2>Keep in touch</h2>
            <div class="facebook">
              <div id="fb-root"></div>
              <script>
                
                //<![CDATA[
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                //]]>

              </script>
              <div class="fb-like" data-font="tahoma" data-href="https://www.facebook.com/DaveForMaine" data-layout="button_count" data-send="false" data-show-faces="true" data-width="100"></div>
            </div>
            <div class="twitter">
              <a class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" href="https://twitter.com/DaveForMaine">Follow @DaveForMaine</a>
              <script>
                
                //<![CDATA[
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                //]]>

              </script>
            </div>
          </div>
          <!-- end .social
          -->
        </div>
        <nav class="nav-primary new" role="navigation">
          <h2>Menu</h2>
          <ul>
            <li id="home">
              <a href="/" title="Home">Home</a>
            </li>
            <li id="about">
              <a href="/about" title="About Dave">About Dave</a>
            </li>
            <li id="issues">
              <a href="/issues" title="Issues">Issues</a>
            </li>
            <li id="blog">
              <a href="http://daveformaine.tumblr.com/" id="blog-modal" traget="_blank">Blog</a>
            </li>
            <li id="volenteer">
              <a href="/volenteer" title="Get Involved">Get Involved</a>
            </li>
          </ul>
        </nav>
        <!-- end .nav-primary
        -->
      </div>
    </header>
    <!-- end #banner
    -->
  </div>
</body>
