<%= render 'header' %>
<div id='container'>
  <div class='section' id='one'>
    <div class='top-header' id='experience'>Experience</div>
    <img id='casual' src="assets/casual.JPG"/>
    <div id='toptext'>
      <p><span class='strong'>Maine Senate:</span><br>2014 to present <br>Member, Marine Resources Committee</p>
      <p><span class='strong'>State Representative:</span><br>Camden / Rockport <br>Member, Natural Resources Committee</p>
      <p><span class='strong'>Bills sponsored/co-sponsored:</span><br/>Minimum Wage increase, Ferry Safety, Death with Dignity, Coastal Access, Salt on roads, Vehicle inspections, Airport management, Domestic violence prevention, Environmental protection, Labor equity, Health insurance, Tax reform</p>
      <p><span class='strong'>Elected town official:</span> Camden Selectboard 2000-2003,Camden Personnel Committee, 3 terms and currently</p>
    </div>
  </div>  

  <div class='issue-section' id='background'>
    <div class='sub-header'>Background</div>
    <div class='sub-text'>
      <p><span class='strong'>Small business owner:</span><br/>Restaurant, Dinner Cruise, Flying Service</p>
      <p><span class='strong'>Commercial airline pilot:</span><br/>Captain at Delta Air Lines & Bar Harbor Airlines<br/>Owner and Pilot, Spirit Soaring Glider Rides</p>
      <p><span class='strong'>Boat captain:</span><br/>Various areas of the Maine Coast</p>
      <p><span class='strong'>Union Member:</span><br/>ALPA & Bar Harbor Pilot Association</p>
      <p><span class='strong'>Boards:</span><br/>Founding Board Member, Maine Coast Men<br/>Founding Member, Midcoast Boys to Men</p>
      <p><span class='strong'>Education:</span>
        <br/>University of Maine Farmington, BA Biology</p>
      </div>
      <div id='img-wrapper'>
        <div class='fade-l'></div>
        <div class='fade-r'></div>
        <div id='img-container'>
          <img id='pilot' src="assets/home_1.jpg"/>
        </div>
      </div>
    </div>
    <div class='issue-section' id='experience'>
      <div class='sub-header' >Family</div>
      <div id='img-wrapper'>
        <div class='fadehor' id='l'></div>
        <div class='fadehor' id='r'></div>
        <div class='fadevrt' id='t'></div>
        <div class='fadevrt' id='b'></div>
        <div id='img-container'>
          <img id='fam' src="assets/family.jpg"/>
        </div>
      </div>
      <div class='sub-text'>
        <p class='assert'>Married 34 years to Dee Webster, small business owner and Homeopathic Practitioner</p>
        <p class='assert'>Designed and built our own energy efficient home</p>

        <h3>Our Children: </h3>
        <div class='children'>
          <h4>Ashley</h4> <p>Graduate of College of the Atlantic </p>
          <h4>Josh</h4> <p> Graduate of Culinary institute of America, University of Maine </p>
        </div>
      </div>
    </div>

    <%= render 'footer' %>
