= render 'header'
.container.new-home
  .row
    %aside.complementary{role: "complementary"}
      %section.mod.action
        %h2.giga What I'm Up To...
        = render 'facebook_widget'
    %section.main{role: "main"}
      #slides
        %img{src: "assets/home_2.jpg"}
        %img{src: "assets/home_1.jpg", class: 'realign'}
        %img{src: "assets/home_3.jpg"}
  .row
    .moto Meeting challenges, working together!  
.container
  %section.main{style: 'width:530px'}
    %header.heading
      %p From the campaign trial...
    .hfeed
      %article.hentry
        %header
          %h2.entry-title.giga
        %script{src: "http://daveformaine.tumblr.com/js", type: "text/javascript"}
  %aside.complementary{role: "complementary", style: 'width:450px;border-left: 2px solid #0194c9;margin-right: -2px;'}
    .heading 
      Together, we can...
    .letter
      %p
        Friends and Neighbors,
      %p
        I will be visiting every town and hopefully most of your homes during the course of the campaign. I really enjoy seeing and hearing how different life is for each of us in our corner of the world.
      %p 
        While the campaign for Senate requires a big commitment, it has great rewards:
        %ul
          %li The enthusiasm and optimism that greeted me when my candidacy was announced
          %li The chance to work with a group of committed folks to meet challenges, protect and improve our State
          %li The opportunity to bring innovative ideas to support a thriving economy
      %p
        Important issues in the upcoming session will include alternetive energy generation, taking care of our neediest folks, supporting small Maine businesses and helping our education systems evolve to meet the needs of our students.

        We have the resources, the ideas and the people to meet any challenge we face together. I promise to listen to your ideas and to make them heard in the Senate!
      %p
        Thank you for the chance to put your ideas and mine into action.
      
%footer.contentinfo.container{role: "contentinfo"}
  .bg-wrapper
  .mod
    %h3.milli davemiramant.com
    %ul
      %li
        %a{href: "/about", title: "About Dave"} About Dave
      %li
        %a{href: "/issues", title: "Issues"} Issues
      %li
        %a{href: "http://daveformaine.tumblr.com/", title: "Blog"} Blog
      %li
        %a{href: "https://www5.informe.org/cgi-bin/online/ethics/cleanelection/step01_cand.pl", title: "Donate"} Donate
  .mod
    %h3.milli Connect
    %ul
      %li
        %a{href: "/facebook", target: "_blank", title: "Facebook"} Facebook
      %li
        %a{href: "/twitter", target: "_blank", title: "Twitter"} Twitter
  .legal
    %small.org-funding
      Authorized and Paid for by the Candidate
    %p.ownership Copyright © 2014 by Dave Miramant for State Senate
