<%= render 'header' %>
<div class="container new-home">
  <div class="row">
    <aside class="complementary" role="complementary">
      <section class="mod action">
        <h2 class="giga">What I'm Up To...</h2>
        <%= render 'facebook_widget' %>
      </section>
    </aside>


      <div class='iosslider main' role="main">

        <!-- slider -->
        <div class = 'slider'>

          <!-- slides -->
          <div class='slide'>
            <img src="assets/home_5.jpg"/>
          </div>
          <div class='slide'>
            <img src="assets/home_3.jpg"/>
          </div>
          <div class='slide'>
            <img src="assets/home_2.jpg"/>
          </div>
          <div class='slide'>
            <img src="assets/home_4.jpg"/>
          </div>
          <div class='slide'>
            <img src="assets/home_1.jpg"/>
          </div>
        </div>

      </div>

    </section>


  </div>
  <div class="row">
    <div class="moto">Meeting challenges, working together!  </div>
    <p id='endorse'>Endorsements:</p>
    <div class='iosslider endorse'>
      <div class='slider'>
        <div class='slide'>
          Maine AFL-CIO
        </div>
        <div class='slide'>
          Maine Education Assocition
        </div>
        <div class='slide'>
          MSEA-SEIU
        </div>
        <div class='slide'>
          Sierra Club Maine
        </div>
        <div class='slide'>
          Maine People's Alliance
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section class="main" style="width:530px">
    <header class="heading">
      <p>From the campaign trial...</p>
    </header>
    <div class="hfeed">
      <article class="hentry">
        <header>
          <h2 class="entry-title giga"></h2>
        </header>
        <script src="http://daveformaine.tumblr.com/js" type="text/javascript"></script>
      </article>
    </div>
  </section>
  <aside class="complementary" role="complementary" style="width:450px;border-left: 2px solid #0194c9;margin-right: -2px;">
    <div class="heading">
      Together, we can...
    </div>
    <div class="letter">
      <p>
        Friends and Neighbors,
      </p>
      <p>
        I will be visiting every town and hopefully most of your homes during the course of the campaign. I really enjoy seeing and hearing how different life is for each of us in our corner of the world.
      </p>
      <p>
        While the campaign for Senate requires a big commitment, it has great rewards:
        <ul>
          <li>The enthusiasm and optimism that greeted me when my candidacy was announced</li>
          <li>The chance to work with a group of committed folks to meet challenges, protect and improve our State</li>
          <li>The opportunity to bring innovative ideas to support a thriving economy</li>
        </ul>
      </p>
      <p>
        Important issues in the upcoming session will include alternative energy generation, taking care of our neediest folks, supporting small Maine businesses and helping our education systems evolve to meet the needs of our students.
        We have the resources, the ideas and the people to meet any challenge we face together. I promise to listen to your ideas and to make them heard in the Senate!
      </p>
      <p>
        Thank you for the chance to put your ideas and mine into action.
      </p>
    </div>
  </aside>
</div>
<%= render 'footer' %>