<%= render 'header' %>
<div id='container'>
  <div class='issue-section' id='mission'>
    <div class='sub-text'>
      <div id='split'>
        <div id='right'>
          <h2>Working For...</h2> 
          <p>a <span class='splash'>thriving economy</span> that supports small businesses.</p>
          <p>a <span class='splash'>clean environment</span> with a focus on <span class='splash'>alternative energy</span> sources and energy efficiency.</p>
          <p><span class='splash'>education</span> that meets the varied needs of our children—Maine’s future.</p>
          <p><span class='splash'>bi-partisan solutions</span> to creatively meet challenges.</p>
        </div>
        <div id='left'>
          <p>“During my previous term in the legislature, I worked across party lines to represent the needs of all Mainers. Meeting challenges requires respect for all ideas. Now more than ever, we need to listen, understand, and work together to find creative solutions for Maine’s challenges.”</p>
          <div id='img-container'>
            <img id='bill' src="assets/bill-sign.jpg"/>
          </div>
        </div>
      </div>
      <div class="manifesto">
        <h3>Elected Experience</h3>
        <p>He has served on the Camden Selectboard and the Camden Personnel Committee, in the Maine House of Representatives and in the Maine Senate. His committees were Natural Resources Committee and Marine Resources Committee.</span></p>
        <p>Dave was a Delta Air Lines Captain who flew all over the world. He asked people in different states and Countries what worked for them so that he could bring ideas back to help the lives of Maine residents.</span>&nbsp;</p>
        <h3>Environment and Climate Change</h3>
        <p>Dave knows that to protect our quality of life and our health, we must keep our land, air and water clean and productive. This matters for our fishing industry, tourism and food production. </span></p>
        <p>Ocean warming and acidification have changed the Gulf of Maine. Dave is working to mitigate the effects of decreased fish populations and lobster migration downeast. He is calling for action to reduce pollution that causes these larger impacts.</span>&nbsp;</p>
        <h3>Education</h3>
        <p>Dave has worked to restore funding from the state to 55% to help reduce property taxes.</span></p>
        <p>Dave believes that schools should respect and support inspiring teachers, honor the differences in the way children learn and rely less on standardized testing as a measure of success.</span></p>
        <h3>Taxation</h3>
        <p>Moving taxation away from income tax and over to property tax is unfair. When folks who have lived in and built communities retire on a fixed income, they are forced out by ever increasing property taxes. With an income tax that has everyone pay their fair share, we create &nbsp;more equality and allow people to age in place.</span>&nbsp;</p>
        <p>We must tackle comprehensive tax reform so we can put all the pieces together in a way that works.</span></p>
        <h3>Partisanship</h3>
        <p>Dave brought his skills as an airline captain to work in the House and Senate. He works with everyone regardless of party. His goal is to solve the problems facing Maine people using the best ideas. This has helped him pass bills with unanimous support in the Senate, and in spite of the Governor&rsquo;s arbitrary overrides.</span>&nbsp;</p>
        <h3>Jobs and Economy</h3>
        <p>Dave is working to bring good paying, non exportable jobs to Knox County. By supporting alternative energy sources, we create local jobs that stay here in Maine. We also have the opportunity to bring tech jobs here. We have the high speed internet that can connect us to the world. I am working to bring the internet entrepreneurs who are ready to start families, here to the midcoast region. We need to create an incubation center to support the beginning of an industry that provides clean, good paying jobs.</span></p>
        <p>We need to raise the minimum wage so that all workers are participating in our economy and not working 40 or more hours and unable to pay the basic expenses of life.</span></p>
        <h3>Healthcare</h3>
        <p>Healthcare should be available to everyone and the costs should be controlled. The insurance companies are taking up to 38% of every dollar before spending a cent on healthcare. This needs to stop. </span>&nbsp;</p>
        <p>We need to take the funds from the federal government to expand Medicare to 70,000 Mainers. This will save us all money since uninsured folks won&rsquo;t have to go to the ER when they get sick. We all have to pay for these overinflated costs that folks can&rsquo;t afford to pay.</span></p>
        <p>We need to rein in the greed of the drug companies that are sucking the life out of our people and our institutions. There is no money left for basics when so much is required just to buy a prescription.</span></p>
        <h3>Fundamental Decency</h3>
        <p>Dave has received hundreds of calls and emails calling for something to be done about the behavior of the Governor. Folks know that in the private sector we could not threaten someone, or make racist and homophobic statements without consequences. </span></p>
        </div>
      </div>
    </div>
  </div>  
</div>
<%= render 'footer' %>
