<%= render 'header' %>
<div id='container'>
  <div class='issue-section' id='mission'>
    <div class='sub-text'>
      <div id='split'>
        <div id='right'>
          <h2>Working For...</h2> 
          <p>a <span class='splash'>thriving economy</span> that supports small businesses.</p>
          <p>a <span class='splash'>clean environment</span> with a focus on <span class='splash'>alternative energy</span> sources and energy efficiency.</p>
          <p><span class='splash'>education</span> that meets the varied needs of our children—Maine’s future.</p>
          <p><span class='splash'>bi-partisan solutions</span> to creatively meet challenges.</p>
        </div>
        <div id='left'>
          <p>“During my previous term in the legislature, I worked across party lines to represent the needs of all Mainers. Meeting challenges requires respect for all ideas. Now more than ever, we need to listen, understand, and work together to find creative solutions for Maine’s challenges.”</p>
          <div id='img-container'>
            <img id='bill' src="assets/bill-sign.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
</div>
<%= render 'footer' %>
