<%= render 'header' %>
<h1>Coming Soon!</h1>
<p>State Representative, Camden / Rockport</p>
  <p>Member, Natural Resources Committee</p>

<p>Bills sponsored/co-sponsored:</p> <p>Coastal Access,Salt on roads, Vehicle inspections, Airport management, Domestic violence prevention, Environmental protection, Labor equity, Health insurance, Tax reform</p>


<p>Elected town official: Camden Selectboard 2000-2003,Camden Personnel Committee, 3 terms and currently</p>

<p>Small business owner: Restaurant, Dinner Cruise, Flying Service</p>

<p>Commercial airline pilot: Captain at Delta Air Lines & Bar Harbor Airlines </p>

<p>Owner and Pilot, Spirit Soaring Glider Rides</p>

<p>Boat captain: Various areas of the Maine Coast</p>

<p>Union Member: ALPA & Bar Harbor Pilot Association</p>

<p>Founding Board Member, Maine Coast Men</p>

<p>Founding Member, Midcoast Boys to Men</p>

<p>Education:</p>

<p>University of Maine Farmington, BA Biology</p>

<p>Family:</p>

<p>Married 34 years to Dee Webster, small business owner and Homeopathic Practitioner</p>

<p>Designed and built our own energy efficient home</p>

<p>Our Children: </p>
<p>Ashley,  Graduate of College of the Atlantic </p>
<p>Josh, Graduate of Culinary institute of America, University of Maine </p>


<p>WORKING FOR</p>

<p>a thriving economy that supports 
small businesses.</p>

<p>a clean environment with a focus 
on alternative energy sources 
and energy efficiency.</p>

<p>education that meets the varied 
needs of our children—Maine’s 
future.</p>

<p>bi-partisan solutions to creatively 
meet challenges.</p>

<p>Statement:</p>

<p>“During my previous term in 
the legislature, I worked across
party lines to represent the
needs of all Mainers. Meeting
challenges requires respect for
all ideas. Now more than ever,
we need to listen, understand,
and work together to find 
creative solutions for Maine’s
challenges.”</p>